.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app .count {
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    margin-right: 5rem;

}
.app .count h3 {
    line-height: 5rem;
    margin-right: 1rem;
}
.app .count h1 {
    font-size:2em;
    margin-top: 1rem;
}
.app .buttons{
  max-width: 300px;
}
.app .buttons button {
    /* width: 2rem;
    height: 2rem; */
    border-radius: 50%;
    /* border: none; */
    margin: 0 1rem;
    /* font-size: 5em; */
    cursor: pointer; 
    /* float: left; */
}
.app .buttons button:hover{
    /* font-size: 7em; */
}
.app .buttons button:focus{
    /* outline: 0; */
}

/* Index */

#driverName{
  width: fit-content;  
}

#like_button_container{
    color: aqua;
}

 #driverSection{
contain: content;
flex: content;
align-items: center;
 }

 .driverCard{
    contain: content;
    flex: content;
    border: 1px solid black;
    width: fit-content;
    margin: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: 1%;
    
    /* float: left; */
    
 }

.driverPhoto{
  border: solid;
  margin-left: 0;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px,1fr));
}

.count{
  float: left;
}

hr{
  margin: 0%;
  border-top: .3rem solid darkred;
  border-radius: 5rem;
}